<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Photogram</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
          integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
</head>

<body>
<div class="container">
    <main class="loginMain">
        <!--회원가입섹션-->
        <section class="login">
            <article class="login__form__container">

                <!--회원가입 폼-->
                <div class="login__form">
                    <!--로고-->
                    <h1><img src="/images/logo.jpg" alt=""></h1>
                    <!--로고end-->

                    <!--회원가입 인풋-->
                    <form id = "signupForm" class="login__input" action="/auth/signup" method="post">
                        <input type="text" id = "username" name="username" placeholder="유저네임" required="required" />
                        <input type="password" name="password" placeholder="패스워드" required="required" />
                        <input type="email" name="email" placeholder="이메일" required="required" />
                        <input type="text" name="name" placeholder="이름" required="required" />
                        <button>가입</button>
                    </form>
                    <!--회원가입 인풋end-->
                </div>
                <!--회원가입 폼end-->

                <!--계정이 있으신가요?-->
                <div class="login__register">
                    <span>계정이 있으신가요?</span>
                    <a href="/auth/signin">로그인</a>
                </div>
                <!--계정이 있으신가요?end-->

            </article>
        </section>
    </main>
</div>
</body>
<script>
    document.addEventListener("DOMContentLoaded", function() {
        document.getElementById("signupForm").addEventListener("submit", function(event) {
            event.preventDefault(); // 기본 폼 제출 방지
            var usernameInput = document.getElementById("username");
            if (usernameInput) {
                var username = usernameInput.value;
                fetch("/auth/checkUsernameAvailability?username=" + username)
                    .then(response => response.json())
                    .then(data => {
                        console.log(username)
                        console.log(data)
                        if (data.available) {
                            document.getElementById("signupForm").submit();
                        } else {
                            alert("중복된 사용자 이름입니다. 다른 이름을 선택해주세요.");
                        }
                    })
                    .catch(error => {
                        console.error('오류:', error);
                    });
            } else {
                console.error("username input이 없습니다.");
            }
        });
    });
</script>
</html>