@import "header.css";
@import "footer.css";

.exploreContainer {
  width: 935px;
  margin: 0 auto;
  height: 100%;
}

.popular {
  width: 100%;
  padding-top: 84px;
  padding-bottom: 30px;
}
.popular .exploreContainer {
  flex-direction: column;
}
.popular .exploreContainer .popular-gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 15px;
}

.popular .exploreContainer .popular-gallery .p-img-box {
  width: 100%; /* 부모 요소에 맞게 너비 설정 */
  aspect-ratio: 1/1; /* 이미지의 가로:세로 비율 설정 */
  overflow: hidden; /* 내용이 넘칠 경우 가림 */
}

.popular .exploreContainer .popular-gallery .p-img-box img {
  width: 100%; /* 이미지의 너비를 부모 요소에 맞춤 */
  height: 100%; /* 이미지의 높이를 부모 요소에 맞춤 */
  object-fit: cover; /* 이미지를 확대 또는 축소하여 부모 요소에 맞춤 */
}

