<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Photogram</title>

    <!-- 제이쿼리 -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Style -->
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/story.css">
    <link rel="stylesheet" href="/css/popular.css">
    <link rel="stylesheet" href="/css/profile.css">
    <link rel="stylesheet" href="/css/upload.css">
    <link rel="stylesheet" href="/css/update.css">
    <link rel="shortcut icon" href="/images/insta.svg">

    <!-- Fontawesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css" />
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap" rel="stylesheet">
</head>
<body>
<header class="header">
    <div class="container">
        <a href="/image/story" class="logo">
            <img src="/images/logo.jpg" alt="">
        </a>
        <nav class="navi">
            <ul class="navi-list">
                <li class="navi-item"><a href="/image/story">
                    <i class="fas fa-home"></i>
                </a></li>
                <li class="navi-item"><a href="/image/popular">
                    <i class="far fa-compass"></i>
                </a></li>
                <li class="navi-item"><a href="/user/profile">
                    <i class="far fa-user"></i>
                </a></li>
            </ul>
        </nav>
    </div>
</header>
<main class="main">
    <section class="container">
        <!-- 전체 리스트 시작 -->
        <article class="story-list" id="storyList">
            <!-- 전체 리스트 아이템 -->
            <div class="story-list__item">
                <div class="sl__item__header">
                    <div>
                        <img class="profile-image" src="#"
                             onerror="this.src='/images/sky.jpg'" />
                    </div>
                    <div>yerong</div>
                </div>
                <div class="sl__item__img">
                    <img src="/images/home.jpg" />
                </div>
                <div class="sl__item__contents">
                    <div class="sl__item__contents__icon">
                        <button>
                            <i class="fas fa-heart active" id="storyLikeIcon-1" onclick="toggleLike()"></i>
                        </button>
                    </div>
                    <span class="like"><b id="storyLikeCount-1">3 </b>likes</span>
                    <div class="sl__item__contents__content">
                        <p>바다가 예뻐요</p>
                    </div>
                    <div id="storyCommentList-1">
                        <div class="sl__item__contents__comment" id="storyCommentItem-1">
                            <p>
                                <b>Lovely :</b> 부럽습니다.
                            </p>
                            <button>
                                <i class="fas fa-times"></i>
                            </button>
                        </div>
                    </div>
                    <div class="sl__item__input">
                        <input type="text" placeholder="댓글 달기..." id="storyCommentInput-1" />
                        <button type="button" onClick="addComment()">게시</button>
                    </div>
                </div>
            </div>
        </article>
    </section>여
</main>
<script src="/js/story.js"></script>
</body>
<footer>
    <div class="container">
        <ul>
            <li><a href="#a">소개</a></li>
            <li><a href="#a">블로그</a></li>
            <li><a href="#a">채용 정보</a></li>
            <li><a href="#a">도움말</a></li>
            <li><a href="#a">API</a></li>
            <li><a href="#a">개인정보처리방침</a></li>
            <li><a href="#a">약관</a></li>
            <li><a href="#a">인기 계정</a></li>
            <li><a href="#a">해시태그</a></li>
            <li><a href="#a">위치</a></li>
        </ul>
        <div class="copy">
            <p>© 2020 Photogram from There Programing</p>
        </div>
    </div>
</footer>
</html>
