<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Photogram</title>

    <!-- 제이쿼리 -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Style -->
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/story.css">
    <link rel="stylesheet" href="/css/popular.css">
    <link rel="stylesheet" href="/css/profile.css">
    <link rel="stylesheet" href="/css/upload.css">
    <link rel="stylesheet" href="/css/update.css">
    <link rel="shortcut icon" href="/images/insta.svg">

    <!-- Fontawesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css" />
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap" rel="stylesheet">
</head>
<body>
<header class="header">
    <div class="container">
        <a href="/" class="logo">
            <img src="/images/logo.jpg" alt="">
        </a>
        <nav class="navi">
            <ul class="navi-list">
                <li class="navi-item"><a href="/">
                    <i class="fas fa-home"></i>
                </a></li>
                <li class="navi-item"><a href="/image/popular">
                    <i class="far fa-compass"></i>
                </a></li>
                <li class="navi-item"><a href="/user/1">
                    <i class="far fa-user"></i>
                </a></li>
            </ul>
        </nav>
    </div>
</header>
<!-- 사진 업로드 페이지 중앙 배치 -->
<main class="uploadContainer">
    <!-- 사진 업로드 박스 -->
    <section class="upload">
        <!-- 사진 업로드 로고 -->
        <div class="upload-top">
            <a href="home.html" class="">
                <img src="/images/logo.jpg" alt="">
            </a>
            <p>사진 업로드</p>
        </div>
        <!-- 사진 업로드 로고 end -->
        <!-- 사진 업로드 Form -->
        <form class="upload-form" action="/image" method="post" enctype="multipart/form-data">
            <input  type="file" name="file"  onchange="imageChoose(this)"/>
            <div class="upload-img">
                <img src="/images/sky.jpg" alt="" id="imageUploadPreview" />
            </div>
            <!-- 사진 설명 + 업로드 버튼 -->
            <div class="upload-form-detail">
                <input type="text" placeholder="사진 설명" name="caption" />
                <button class="cta blue">업로드</button>
            </div>
            <!-- 사진 설명 end -->
        </form>
        <!-- 사진 업로드 Form end -->
    </section>
    <!-- 사진 업로드 박스 end -->
</main>
<script src="/js/upload.js"></script>
</body>
<footer>
    <div class="container">
        <ul>
            <li><a href="#a">소개</a></li>
            <li><a href="#a">블로그</a></li>
            <li><a href="#a">채용 정보</a></li>
            <li><a href="#a">도움말</a></li>
            <li><a href="#a">API</a></li>
            <li><a href="#a">개인정보처리방침</a></li>
            <li><a href="#a">약관</a></li>
            <li><a href="#a">인기 계정</a></li>
            <li><a href="#a">해시태그</a></li>
            <li><a href="#a">위치</a></li>
        </ul>
        <div class="copy">
            <p>© 2024 Photogram from There Programing</p>
        </div>
    </div>
</footer>
</html>
